/* #home {
} */

#home {
    width: 100vw;
    color: white;
    top: 900px;
    height: 3000px;
    position: absolute;
    z-index: 11;
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 3% 25% 62% 8% 2%;
}





#aboutSection {
    grid-column: 2;
    grid-row: 2;
    display: inline-table;
    height: 100%;
    width: 96%;
    margin-left: 2%;
    background-color: rgba(0, 0, 0, 0.4);

}

#about-background{
    position: absolute;
    z-index: -2;
    height: 25%;
    width: 92%;
}

#about-background img{
    opacity: 0.7;
    filter: grayscale(90%);
    height: 100%;
    width: 100%;
}

#about-text {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: right;
    width: 73%;
    padding: 5%;
    font-size: 3vh ;
    word-spacing: 5px;
}

#profile-picture {
    position: absolute;
    z-index: 1;
    border: 15px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 450px;
    width: 450px;
    margin-left: -3%;
    margin-top: -3%;
    float: left;

    /* padding: 1%; */
}






#portfolioSection {
    min-width: 100%;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 2;
    grid-row: 3;
    height: 100%;
    /* margin-top: 10%; */
}

/* #left-column {
    grid-column: 1;
    grid-row: 3;
    background-color: whitesmoke;
}
#right-column {
    grid-column: 3;
    grid-row: 3;
    background-color: whitesmoke;
} */






#contactSection {
    background-color: rgb(1,28,83);
    width: 100%;
    grid-row: 4;
    grid-column: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    z-index: 12;
    display: flex;
    justify-content: center;
    text-align: center;
}

#contactSection h3 {
    position: absolute;
    font-size: 3vw;
    user-select: text
}

#contactSection h3 a {
    font-weight: bolder;
    font-size: 3vw;
}


/* -----MEDIA QUERIES------------------------------------------------------------------ */


@media screen and (max-width:812px) {
    #home {
        width: 100vw;
        color: white;
        top: 900px;
        height: 4000px;
        position: absolute;
        z-index: 11;
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 3% 33% 62% 2%;
    }



    #aboutSection {
        grid-column: 2;
        grid-row: 2;
        display: inline-table;
        margin-left: 0%;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #about-background{
        position: absolute;
        z-index: -2;
        height: 33%;
        width: 90%;
    }

    #about-background img{
        opacity: 0.6;
        filter: grayscale(90%);
        height: 100%;
        width: 100%;
    }
    #profile-picture {
        position: absolute;
        z-index: 101;
        border-radius: 50%;
        height: 300px;
        width: 75%;
        margin-left: 7.5%;
        margin-top: -40%;
        float: none;
    }
    
    #about-text {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 30%;
        padding: 5%;
        font-size: 3vh ;
        word-spacing: 5px;
        width: 100%
    }
    

    #contactSection {
        background-color: rgba(255, 255, 255, 0);
        background-image: none;
        width: 100%;
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: 4;
        z-index: 12;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #contactSection h3 {
        position: absolute;
        bottom: 1%;
        font-size: 7vw;
        background-color: rgba(25,44,103, .8);
        user-select: text
    }

    #contactSection h3 a {
        font-weight: bolder;
        font-size: 7vw;
    }
} 