/* #home {
} */

#home {
    width: 100vw;
    color: white;
    top: 900px;
    height: 2080px;
    position: absolute;
    z-index: 11;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 35% 55% 5%;
}

#aboutSection {
    grid-column: 2;
    grid-row: 2;
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 3vh ;
    word-spacing: 5px;
    /* filter: blur(5px); */
}


#portfolioSection {
    min-width: 100%;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 2;
    grid-row: 3;
}




#contactSection {
    width: 100%;
    grid-row: 4;
    grid-column: 2;
    z-index: 12;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}

#contactSection h3 {
    position: absolute;
    bottom: 0;
    margin-bottom: 0%;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.3);
    user-select: text
}

#contactSection h3 a {
    font-weight: bolder;
    font-size: 2rem;
}