
.portfolio{
    margin-top: .2%;
    background-color: rgba(0, 0, 0, 0.8);
}

.portfolio-background{
    width: 100%;
} 

.portfolio-text {
    border-top: 4px solid black;
    width: 100%;
}


.portfolio-description {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vw;
}

.portfolio-links {
    position: fixed;
    padding-left: 1%;
    bottom: 0%;
    font-size: 30px;
} 






