
.portfolio{
    margin-top: .2%;
    background-color: rgba(0, 0, 0, 0.8);
}

.portfolio-background{
    width: 100%;
} 

.portfolio-text {
    border-top: 4px solid black;
    width: 100%;
}


.portfolio-description {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vw;
}

.portfolio-links {
    position: fixed;
    padding-left: 1%;
    bottom: 0%;
    font-size: 30px;
} 



@media screen and (max-width:812px) {

.portfolio{
    margin-top: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
}

.slider-exit {
    position: absolute;
    z-index: 151;
    right: 0;
    /* margin-right: 2%; */
    height: 30px;
    width: 30px;
}

.slider-exit img {
    filter: brightness(150%)
}

.portfolio-background{
    width: 100%;
} 

.portfolio-text {
    border-top: 4px solid black;
    width: 100%;
}


.portfolio-description {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 7vw;
}

.portfolio-links {
    position: fixed;
    padding-left: 1%;
    bottom: 0%;
    font-size: 30px;
} 
}






