
#project-2 {
    background:  url(https://media.giphy.com/media/KD1eGw9xvrWxGr8cJL/giphy.gif) no-repeat center center fixed; 
    background-size: cover
} 

#project-2-text {
    height: 80%;
    font-size: 30px;
}

#project-2-text-link {
    bottom: 100;
    font-size: 30px;
} 