
.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: stretch; */
}

.project-item {
    height: 50vh;
    width: 40vw;
    position: relative;
    margin: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.4);
}

.project-item button {
    display: none;
}

.project-item:hover {
    transform: scale(1.1,1.1);
}

.project-item:hover  .project-item-background{
    filter: blur(5px);
}

.project-item:hover button {
    display: inline-block;
    margin-left: 40%;
    margin-right: auto;
}


.project-item-background {
    width: 100%;
    height: auto;
}