
.project-list {
    margin-top: 30%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: stretch; */
}

.project-item {
    height: 50vh;
    width: 45vw;
    position: relative;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-item .info-on-hover {
    width: 70%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.info-on-hover button {
    padding: 20px;
    font-family: moderno-fb, "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.363);
    border: none;
    font-size: 2vw;
    outline: none;
}



.project-item-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.project-item:hover {
    transform: scale(1.1,1.1);
}

.project-item:hover  .project-item-background{
    filter: blur(5px);
}

.project-item:hover .info-on-hover {
    visibility: visible;
}



@media screen and (max-width:812px) {

    .project-list {
        margin-top: 32%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        /* align-items: stretch; */
    }

    .project-item {
        height: 50vh;
        width: 100%;
        position: relative;
        margin: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}